/* //Ismail Code */
.navbar{
	background:aliceblue !important
}
.web-footer{
	background:aliceblue !important
}
.bg-ground{
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.page-card{
	background: linear-gradient(-90deg, #20708d47, #e8eaec96) !important;
}
/* *{
	background: black !important;
} */
/* //End Ismail Code */